* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: #087ff7;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.container .card .content {
  text-align: center;
}

.container .card .content h4 {
  font-size: 1.8em;
  color: #fff;
}
.container .card .content h5 {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
.container .card .content h3 {
  font-size: 1em;
  color: #151313;
  font-weight: 300;
  text-align: start;
}
